<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        {% block titile %}
            CMDB
        {% endblock %}
    </title>
    <!-- Bootstrap Core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="/static/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/static/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="/static/vendor/morrisjs/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="/static/vendor/jquery/jquery.min.js"></script>
     <!-- bootstrap modal -->
    <script src="/static/vendor/bootstrap/js/bootstrap-modal.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/vendor/metisMenu/metisMenu.min.js"></script>
    <!-- Morris Charts JavaScript -->
    <script src="/static/vendor/raphael/raphael.min.js"></script>
    <script src="/static/vendor/morrisjs/morris.min.js"></script>
    <script src="/static/data/morris-data.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/static/dist/js/sb-admin-2.js"></script>

    {% block style %}
    {% endblock %}
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index_bak.html"> CMDB</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href = "#" data-toggle = "modal" data-target = "#userRegister"><i class="fa fa-gear fa-fw"></i> 添加用户</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="/exit"><i class="fa fa-sign-out fa-fw"></i> 登出</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="查找">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="/user"><i class="fa fa-dashboard fa-fw"></i>
                                用户
                            </a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> 服务器<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/eq">工作中的服务器</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                           {% block label %}
                               Test
                           {% endblock %}
                    </h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            {% block content %}
            {% endblock %}

        </div>
        <!-- /#page-wrapper -->

    </div>

    <div class = "modal fade" id = "userRegister" tabindex = "-1" role = "dialog" aria-labelledby = "OurRegisterModel">
        <div class = "model-dialog" role = "document">
            <div class = "modal-content"> <!-- 模态框内容开始 -->
                <div class = "modal-header"> <!-- 模态框标题 -->
                    <button type = "button" class = "close" data-dismiss = "modal" aria-label = "Close">
                        <span aria-hidden = "true">
                            X
                        </span>
                    </button>
                    <h4 class = "modal-title" id = "ourRegisterTitle">
                        用户注册
                    </h4>
                </div>
                <div class = "modal-body">
                    <form id = "fm" enctype="multipart/form-data"> <!--提交内容当中有文件-->
                        <div class = "Register" id = "Register">
                        {{ register.as_p }}
                        </div>
                    </form>
                    <span id = "eroor" style = "color: red"></span>
                </div>
                <div class = "modal-footer">
                    <input id = "Register_submit" type = "button" class = "btn btn-paimary" value = "提交">
                </div>
            </div>
        </div>
    </div>

</body>
</html>

<script>
    $(
        function(){
            var register_valid = [];
            $("#id_phone").blur(
                    function () {
                        var phone = $("#id_phone").val();
                        if(phone){
                             $.ajax({
                               url:"/user/phone_valid/?phone="+phone,
                               type:"get",
                               data:"",
                               success:function(data){
                                    type = data["type"];
                                    if(type == "success"){
                                        if(register_valid.indexOf('phone') == -1){
                                            register_valid.push('phone')
                                        }
                                    }else{
                                        if(register_valid.indexOf('phone') != -1){
                                            register_valid.pop('phone')
                                        }
                                    }
                               },
                               error:function(error){
                                    console.log(error)
                               }

                           })
                        }else{
                            alert("phone not be null")
                        }
                   }
            );
            $("#Register_submit").click(
                function () {
                     var sendData = new FormData();
                     sendData.append("username",$("#id_username").val());
                     sendData.append("password",$("#id_password").val());
                     sendData.append("email",$("#id_email").val());
                     sendData.append("phone",$("#id_phone").val());
                     sendData.append("photo",$("#id_photo")[0].files[0]);
                     sendData.append("csrfmiddlewaretoken","{{ csrf_token }}");
                     console.log(sendData.get("csrfmiddlewaretoken"));
                     console.log(sendData); //得到空
                     $.ajax(
                         {
                             url:"/user/register/",
                             type:"POST",
                             data:sendData,
                             processData:false, //不进行序列化
                             contentType:false, //不进行类型检测
                             success:function(data){
                                 type = data["type"];
                                 if(type == "success"){
                                     $("#id_username").val("");
                                     $("#id_password").val("");
                                     $("#id_email").val("");
                                     $("#id_phone").val("");
                                     $("#id_photo").val("");
                                     $("#userRegister").modal("hide")
                                 }else{
                                    Data = data["data"];
                                    for(var key in Data){
                                        console.log(key);
                                        console.log(Data[key]);
                                    }
                                    $("#eroor").text(key+Data[key]);
                                 }
                             },
                             error:function (error) {
                                 console.log(error)
                             }

                         }
                     )

                }
            );
        }
    )
</script>